extends account

block user-account
    #user-account-content
        .form-user-heading
            | Create User
        form.form.create-user-form
            label(for="name")
                | Name
            input#name.form-user-data-input(type="text", name="name", required)
            label(for="email")
                | Email Address
            input#email.form-user-data-input(type="email", name="email", required)
            label(for="role")
                | Role
            select#role(name="users")
                option(value="student") student
                option(value="staff") staff
            label(for="gender")
                | Gender
            input#gender.form-user-data-input(type="text", name="gender", required)
            label(for="number")
                | Phone No.
            input#number.form-user-data-input(type="number", name="number", required)
            label(for="password")
                | Password
            input#password.form-user-data-input(type="password", name="password", required)
            label(for="confirm-password")
                | Confirm Password
            input#confirm-password.form-user-data-input(type="password", name="confirm-password", required)
            .settings-btn
                button#create-user-btn.update-create-btn
                    | Create User
