extends base

block content 
    #main-content
        #form-login
          img#login-page-bg-img(src="img/library.jpg", alt="Login Page Background Image")
          form#login-form
            .login-form-header
              #login-form-heading
                | LOGIN
              hr#login-form-header-line
            .login-form-details
              input#email.login-form-input(type="email", placeholder="Email ID", required)
              input#password.login-form-input(type="password", placeholder="Password", minlength="8", required)
            .login-form-footer
              a#forgot-password(href="")
                | Forgot password?
              button.login-form-submit-btn(type="submit")
                b Login

