extends base

block content
    #main-content 
        .card-container
            each book in books
                form#book-card-form
                    .card
                        .card-header
                            img.books-image(src="img/books/book-1.jpg", alt="Book-1")
                        .card-details-librarian
                            label(for="book-name")
                            | Book Name
                            input#book-name.book-container-input(type="text", name="book-name", value="Conceptual Chemistry V1")
                            label(for="book-author")
                            | Book Author
                            input#book-author.book-container-input(type="text", name="book-author", value="Dr. S.K Jain")
                            label(for="book-publisher")
                            | Book Publisher
                            input#book-publisher.book-container-input(type="text", name="book-publisher", value="S.Chand")
                            label(for="book-pages")
                            | Book Pages
                            input#book-pages.book-container-input(type="number", name="book-pages", value="570")
                            label(for="book-price")
                            | Book Price (Rs.)
                            input#book-price.book-container-input(type="number", name="book-price", value="825")
                            label(for="book-availability")
                            | Availability
                            select#book-availability(name="book-availability")
                            option(value="Available") Available
                            option(value="Unavailable") Unavailable
                        .card-footer-librarian
                            #delete-book
                            | Delete
                            #update-book
                            | Update